[variables]
main_domain = "${domain}"

[config]
env = [
  "DOMAIN=${main_domain}",
  "TITLE=Miranda",
  "REGION=eu-west-3",
  "AWS_ACCOUNT_ID=${{project.AWS_ACCOUNT_ID}}",
  "",
  "# CLIENT",
  "AXIOS_URL=https://${DOMAIN}/api/v1/",
  "SOCKET_IO_URL=/",
  "",
  "# SERVER",
  "HOST=0.0.0.0",
  "",
  "DB_HOST=",
  "DB_NAME=",
  "DB_PASS=${password:16}",
  "DB_USER=",
  "",
  "AWS_S3_ENABLED=1",
  "AWS_S3_VERSION=v4",
  "AWS_S3_REGION=",
  "AWS_S3_BUCKET_NAME=",
  "AWS_S3_ACCESS_KEY=",
  "AWS_S3_SECRET_KEY=",
  "",
  "URL_API=${DOMAIN}/api/v1",
  "URL_CLIENTE=https://${DOMAIN}/",
  "URL_SOCKET=https://${DOMAIN}/",
  "",
  "CRYPT_KEY=${password:32}",
  "TOKEN_SECRET=${password:64}",
  "SENDGRID_API_KEY=SG."
]
[[config.domains]]
serviceName = "nginx"
port = 80
host = "${domain}"

[[config.mounts]]
filePath = "/nginx/nginx.conf"
content = """
events {
    worker_connections 1024;
}

http {
    # Resolver de Docker (fundamental para usar variables en proxy_pass)
    resolver 127.0.0.11 ipv6=off valid=30s;
    include /etc/nginx/mime.types;

    # Configuración para WebSockets
    map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      close;
    }

    server {
        listen 80;
        client_max_body_size 50M;

        # Definición de backends mediante variables (evita el error emerg de host not found)
        set $client_backend "http://client:3000";
        set $server_backend "http://server:7800";
        set $sockets_backend "http://sockets:4000";

        location /api {
            proxy_pass $server_backend;
            proxy_set_header Host $http_host;
            proxy_set_header X-Request-Id $request_id;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location /socket.io {
            proxy_pass $sockets_backend;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
            proxy_set_header Host $host;
            proxy_read_timeout 86400s;
        }

        location / {
            proxy_pass $client_backend;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
}
"""
