services:
  nginx:
    image: nginx:latest
    restart: on-failure
    volumes:
      - ../files/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - miranda-network

  client:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${REGION}.amazonaws.com/miranda/client:preview
    restart: always
    env_file:
      .env
    networks:
      - miranda-network

  server:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${REGION}.amazonaws.com/miranda/server:preview
    restart: always
    env_file:
      .env
    networks:
      - miranda-network

  sockets:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${REGION}.amazonaws.com/miranda/sockets:preview
    restart: always
    env_file:
      .env
    networks:
      - miranda-network

networks:
  miranda-network:
    driver: bridge
